* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color:black;
    height: 100vh;
}

.header {
    padding: 10px;
}

.header nav