* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    overflow-y: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 7vh;

    background-color: orange;
}

header div {
    display: flex;
    gap: 20px;
    margin-inline: 30px;
}

header div:nth-child(1) {
    color: white;
}

header div:nth-child(2) {
    color: red;
}

header p {
    font-size: 1.7rem;
    text-transform: uppercase;
}

nav {
    background-color: black;
}

nav div {
    display: flex;
    align-items: center;
}

nav div img {
    width: 2.4vw;
    margin: 20px;
}

nav div p {
    color: white;

    font-size: 2.7rem;
}

nav div span {
    color: orange;
}

main {
    width: 100vw;
    height: 100vh;
}

.banner{
    background-image: url(../img/background.jpg);
    height: 90vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.banner h1 {
    color: white;
}

.banner .banner-bg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0, .6);
    padding: 100px;
}

.banner-content {
    display: flex;
    gap: 20px;

    margin-top: 10vh;
    align-items: center;
}

.banner-content input {
    width: 500px;
    padding: 20px;

    font-size: 20px;
}

.banner img {
    width: 50px;
    height: 50px;

    cursor: pointer;
}