* {
    padding: 0;
    margin: 0;
}

main {
    width: 100vw;
    height: 100vh;
}

.row1 {
    width: 100vw;
    height: 25vh;
    background-color: brown;
}

.row2 {
    display: flex;
}

.row2 .col1 {
    width: 20vw;
    height: 50vh;
    background-color:burlywood;
}

.row2 .col2 {
    width: 80vw;
    height: 50vh;
    background-color:chocolate;
}

.row3 {
    width: 100vw;
    height: 25vh;
    background-color: brown;
}