 body{
 background-image: url(../img/blue.jpg);
        background-size: cover;
      }
      h1{
        text-align: center;
        font-size: 80px;
      }
      .t1{
         color: orange;
      }
      #t2{
         color: indigo;
      }  