*{
    padding: 0;
    margin: 0;
}
main{
    width: 100vw;
    height: 25vh;
}
.a{
    width: 100vw;
    height: 25vh;
    background-color: brown;
}
.b{
    display: flex;
}
.b .c{
    width: 40vw;
    height: 50vh;
    background-color: rgb(163, 74, 89);
}
.b .d{
    width: 80vw;
    height: 50vh;
    background-color: hsl(0, 51%, 52%);
}
.e{
    width: 100vw;
    height: 50vh;
    background-color: brown;
}